body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #F7F7F7;
}

a:link {
	color: #04F;
	text-decoration: none;
}

a:visited {
	color: #04f;
}

table {
    padding-bottom: 50px;
    border-spacing: 10px;
}

#container {
    width: 100%;
    min-width: 350px;
    min-height: 500px;
}

#header h1 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 40px;
}

#header h2 {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    font-style: italic;
}

#nav {
	background-color: #333;
}

@media screen and (min-width: 900px) {
    #container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #nav {
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

#nav a:link, #nav a:visited {
	color: #FFF;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    padding-right: 10px;
    margin: 0;
}

#nav li {
    display: block;
    float: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#userlinks {
	float: right;
}

#user_info {
    float: right;
    padding-right: 30px;
    padding-top: 10px;
    text-align: right;
}

#user_info h4 {
	margin: 0;
}

#content {
    padding: 10px;
    background-color: #FFF;
}

@media screen and (min-width: 900px) {
    #content {
		border-left: 2px solid #CCC;
		border-right: 2px solid #CCC;
		border-bottom: 2px solid #CCC;
    }
}

#content h2 {
    margin: 0;
    padding-bottom: 20px;
    white-space: nowrap;
}

#content h3, #content h4 {
    margin: 0;
    padding-bottom: 10px;
}

#content_inner {
	padding-left: 10px;
	padding-right: 10px;
}

#messagebox {
	color: #FFF;
	background-color: #33AA33;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

#breadcrumb {
    font-size: 15px;
    padding-bottom: 10px;
}

#footer {
    clear: both;
    padding: 10px;
    color: #666;
    text-align: right;
    font-size: 15px;
}

.form_row {
    padding: 5px;
}

.form_label {
    width: 100px;
    float: left;
    font-weight: bold;
    display: inline-block;
}

.form_field {
    display: inline-block;
}

.form_error {
    color: #F00;
    font-weight: bold;
    font-size: 15px;
}

.good_text {
    color: #009900;
}

.bad_text {
    color: #FF0000;
}

.field_valid {
    border: 2px solid #33AA33;
}

.field_invalid {
    border: 2px solid #FF0000;
}



#product_list {
	list-style-type: none;
	padding-left: 10px;
	margin: 0;
}

#product_list li {
	padding-bottom: 20px;
}

.product_image {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	text-align: right;
}

.product_image img {
	max-width: 100px;
	max-height: 100px;
}

.productpage_image img {
	float: left;
    padding-right: 10px;
	max-width: 200px;
	max-height: 200px;
}

.product_name {
	font-weight: normal;
	padding-left: 120px;
}

.product_summary {
	margin-top: 0px;
	padding-left: 130px;
}

.product_price {
	float: left;
	width: 150px;
	padding-left: 30px;
}

.product_stock {
	float: left;
	width: 150px;
	padding-left: 10px;
}

.productpage_price {
	padding-left: 130px;
    font-size: 23px;
}

.product_price sub, .productpage_price sub {
	text-decoration: line-through;
}

.product_in_basket {
	color: #009900;
}

.product_add_to_basket {
	margin-top: 0px;
	padding-left: 130px;
}


#show_more_results {
	text-align: center;
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}

