body {
    font-family: Arial, Helvetica, sans-serif;
    background: #DDD;
}

a:link {
	color: #04F;
	text-decoration: none;
}

a:visited {
	color: #04f;
}

#container {
    width: 100%;
    border: 1px solid #333;
    background: #FFF;
}

@media screen and (min-width: 920px) {
    #container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 350px) {
    #container {
        width: 335px;
        margin: 0;
    }
}

#header h1 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 40px;
}

#header h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 15px;
    font-style: italic;
}

#nav {
    background: #333;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav li {
    display: block;
    float: left;
    padding: 5px;
}

#nav li a, #nav li a:link, #nav li a:visited {
    color: #FFF;
}

#user_info {
    float: right;
    padding-right: 30px;
    padding-top: 10px;
    text-align: right;
}

@media screen and (max-width: 400px) {
    #user_info {
        float: none;
    }
}

#content {
    margin: 10px;
}

#content h2 {
    margin: 0;
    padding-bottom: 20px;
    white-space: nowrap;
}

#content h3, #content h4 {
    margin: 0;
    padding-bottom: 10px;
}

#content_inner {
	padding-left: 10px;
}

#messagebox {
	color: #FFF;
	background-color: #33AA33;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

#breadcrumb {
    font-size: 13px;
    padding-bottom: 10px;
}

#footer {
    clear: both;
}

.form_row {
    padding: 5px;
}

.form_label {
    width: 100px;
    float: left;
    font-weight: bold;
    display: inline-block;
}

.form_field {
    display: inline-block;
}

.form_error {
    color: #F00;
    font-weight: bold;
    font-size: 15px;
}



#product_list {
	list-style-type: none;
	padding-left: 10px;
}

#product_list li {
	padding-bottom: 20px;
}

.product_name {
	font-weight: normal;
}

.product_summary {
	margin-top: 0px;
	padding-left: 10px;
}

.product_price {
	float: left;
	width: 150px;
}

